* {
	box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: Source Sans Pro;
}
.kiri, .kanan, .TENGAH {
	float: left;
	border: 1px solid black;
	height: 974px;
}
.kiri {
	background-color: #333457;
	width: 5%;
}
.kanan {
	background-color: #4D527A;
	width: 80%;
	overflow-y: auto;
}
.TENGAH {
	background-color: #363960;
	width: 15%;
}
.friend, .group, .add {
	border-radius: 50%;
	width: 70%;
	height: auto;
	margin: 10 10 0 14px;
}
.online {
	text-align: center;
	color: white;
}
.garis1 {
	width: 40px;
	margin-top: -10px;
}
.group, .add {
	margin-top: 15px;
	transition: .3s ease;
}
.group:hover {
	border-radius: 20px;
}
.add{
	border: 1px dashed white;
	padding: 10px;
}
.add:hover{
	border-color: grey;
}
.totalgrup {
	height: 750px;
	overflow-y: auto;
}
.search {
	background-color: #363960;
	width: auto;
	height: 50px;
	border-bottom: 1px solid black;
}
input[type=text] {
	background-color: #4F557F;
	margin: 10px 0px 0px 15px;
	height: 30px;
	color: black;
	padding: 5px;
	width: 257px;
	border: none;
	color: white;
}
::placeholder {
	color: lightgrey;
}
.yourfriend {
	margin-top: 20px;
	width: auto;
	height: 40px;

}
button {
	width: 100%;
	height: 100%;
	background-color: green;
	text-decoration: none;
	border: none;
	color: white;
	cursor: pointer;
}
button{
	background-color: #4A507C;
	border-radius: 5px;
	width: 90%;
	margin-left: 15px;
}
.katapesanmasuk {
	padding-left: 25px;
}
.bataspesanmasuk {
	height: 76%;
	overflow-y: auto;
}
.kotakteman {
	margin-top: 0px;
	width: auto;
	height: 15px;
}
.pesanmasuk {
	border-radius: 50%;
	width: 15%;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
}
.logohijaupesanmasuk {
	width: auto;
	height: 10px;
	position: relative;
	left: 25;
	top: -18;
}
.namatemen {
	margin-left: 42px;
	margin-top: 0px;
	color: white;  
	font-size: 16px; 
}
.statustemen{
	margin-left: 42px;
	margin-top: -15px;
	font-size: 10px; 
	color : white;
}
.active2 {
	width: 90%;
	height: 55px;
	padding: 10px;
	border-radius: 5px;
	margin: auto;
}
.active2:hover {
	background-color: #4A507C;
}
.namatemen:hover {
	color: black;
}
.akunkita {
	position: relative;
	top: -10;
}
.profilekita {
	border-radius: 50%;
	width: 15%;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.profile {
	padding-left: 10px;
	background-color: #4F557F;
	height: 60px;
}
.namakita {
	margin-left: 65px;
	margin-top: 10px;
	padding-top: 10px;
	color: white;
	font-size: 16px;
}
.statusanda{
	margin-left: 65px;
	margin-top: -15px;
	font-size: 10px;
	color: white;
}	
.logosetting {
	height: 30px;
	width: auto;
	margin-left: 230px;
	margin-top: -35px;
}
.logosetting:hover {
	background-color: #393E60;
}
.logohijauprofilekita img{
	width: auto;
	height: 10px;
	position: relative;
	top: -12;
	left: 45;
}
.menu {
	margin-top: -10px;
}
.menuatas {
	border-bottom: 1px solid black;
	width: 79.1%;
	height: 40px;
	position: absolute;
	top: 11;
	overflow: hidden;
}
.menuatas2 {
	margin-left: 145px;
	margin-top: -30px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 330px;
}
ul {
	text-decoration: none;
	list-style-type: none;
	margin-top: 10px;
}
ul li {
	text-decoration: none;
	display: inline-block;
	padding: 5px 25px;
	color : black;
}
.menu{
	background-color: #857BC6;
	color: white;
}
.menu1 , .menu2, .menu3 {
		margin-left: 10px;
		color: white;
}
.menu2{
	background-color: white;
	color: black;
}
.menu1 {
	padding: 5px 30px;
}
.menu1:hover, .menu3:hover {
	background-color: #393E60;
}
.listfriend {
	width: 98%;
	height: 900px;
	margin-left: 20px;
	margin-top: 70px;
	display: block;
}
.status:hover {
	background-color: #393E60;
	border-radius: 5px;
}
.status {
	border-bottom: 1px solid black;
	padding-bottom: 7px; 
	padding-top: 7px;
}
.fototeman{
	width: 4%;
	border-radius: 50%;
	float: left;
	padding: 10px;
	margin-top: -1px;
}
.namatemenkita {
	margin-left: 60px;
	margin-top: 10px;
	padding-top: 10px;
	color: white;
	height: auto;
	font-size: 16px;
}
.statustemenkita {
	margin-left: 600px;
	margin-top: -33px;
	height: auto;
	font-size: 16px;
	color: white;
}
a:link {
	text-decoration: none;
}
.logohijauonline, .logoofflineonline {
	width: 10px;
	height: 10px;
	position: relative;
	top: -20;
	left: 40;
}
.status .tooltipgambar{		
	visibility: hidden;

    /* Position the tooltip */
    position: absolute;
	top: 9.5%;
    left: 92%;
    margin-left: -60px;
}
.status .tooltiptext{
	visibility: hidden;

    /* Position the tooltip */
    position: absolute;
	top: -140%;
    left: 62%;
    margin-left: -60px;
}
.status:hover .tooltipgambar{
    visibility: visible;
}
.status:hover .tooltipgambar:hover .tooltiptext{
    visibility: visible;
}
.tooltipgambar img {
	width: 100px;
	height: 50px;
}
.tooltiptext img{
	width: 100px;
	height: 70px;
}
.tooltipgambar:hover{
	background-color: #333457;
	cursor: pointer;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background:  #333457;
} 
::-webkit-scrollbar-thumb {
	background:	#686bbf;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 800px) {
	.kiri, .kanan, .tengah {
		float: none;
		text-align: center;
		width: 100%;
		height: auto;
		display: inline-block;
	}
	button, .button2{
		display: none;
	}
	.menuatas {
		margin-top: 2120px;
		margin-left: -50px;
	}
	.menu, .menu2, .menu3  {
		display: none;
	}
	.menu1{
		width: 100%;
		height: 100%;
	}
	.logohijaupesanmasuk {
		width: auto;
		height: 10px;
		position: relative;
		margin-left: -205px;
		margin-top: 15px;
		border: 1px solid black;
	}
	.namatemen {
		margin-left: -100px;
		margin-top: 0px;
		color: white;  
		font-size: 14px; 
	}
	.statustemen{
		margin-left: -42px;
		margin-top: -15px;
		font-size: 8px; 
		color : white;
	}
	.logosetting {
		margin-left: 200px;
		margin-top: -50px;
	}
	.group, .add {
		width: 40%;
	}
	.logohijauprofilekita img{
		margin-left: -310px;
		margin-top: 5px;
		border: 1px solid black;
	}
	.fototeman {
		width: 20%;
	}
	.search input[type=text]{
		width: 90%;
		border: 1px solid black;
		margin-left: 0px;
	}
	.logoofflineonline, .logohijauonline{
		margin-left: -310px;
		margin-top: -1px;
	}
	.namakita {
		margin-right: 70px;
		margin-top: 5px;
	}
	.statusanda {
		margin-right: 130px;
	}
	.logosetting {
		margin-right: 50px;
	}
	.katapesanmasuk {
		margin-right: 100px;
	}
	.namatemenkita {
		font-size: 12px;
		margin-right: 70px;
	}
	.kanan {
		margin-top: -10px;
	}
}
@media only screen and (max-width: 1300px) {
	.logohijaupesanmasuk {
		width: auto;
		height: 10px;
		position: relative;
		left: 10;
		top: -53;
	}
	.namakita, .statusanda {
		font-size: 10px;
		margin-left: 45px;
	}
	.logohijauprofilekita {
		margin-left: -15px;
		margin-top: -2px;
	}
	.logosetting {
		width: 20px;
		height: 20px;
		margin-left: 145px;
		margin-top: -25px;
	}
}
@media only screen and (max-width: 1700px) {
	.logohijaupesanmasuk {
		width: auto;
		height: 10px;
		position: relative;
		left: 20;
		top: -27;
	}
	.namakita, .statusanda {
		font-size: 11px;
		margin-left: 60px;
	}
	.logohijauprofilekita {
		margin-left: -7px;
		margin-top: -2px;
	}
	.logosetting {
		width: 20px;
		height: 20px;
		margin-left: 180px;
		margin-top: -25px;
	}
}